doctype 5
html
  head
    title WebRTC Play
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/zepto.min.js')
  body
    .container
      h1 WebRTC Play
      p You must use a web browser that is supports WebRTC - getUserMedia and PeerConnection, if you're using chrome on the dev channel all you have to do is enable PeerConnections in chrome://flags
      block content
